* {
	box-sizing: border-box;
}
html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans SC', sans-serif;
	min-height: 100vh;
}

h1, h2, p, code, pre{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

header{
	display: block;
	background-color: black;
	height: 60px;
	color: white;
	border-bottom: 5px solid #36383F;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.left-nav{
	display: inline-block;
	border-right: 3px solid darkgray;
	background-color: white;
	min-height: 100vh;
	height: 100vh;
	position: fixed;
	width: 250px;
	top: 0;
	left: 0;
}

.left-nav > .nav-header {
	padding: 10px;padding-left: 25px;
}

.main-area{
	display: inline-block;
	padding: 0px 30px;
	margin-left: 250px;
}

.main-area > section {
	margin-bottom: 30px;
}

.main-area > section > p {
	padding: 15px;
	color: #4d4e53;
}

.nav-list {
	list-style-type: none;
	padding: 0px;
}

.nav-list > li {
	border-bottom: 1px solid #36383F;
	padding: 5px;
	padding-left: 30px;
	color: #4d4e53;
}

.section-list{
	font-size: 14px;
}

.main-section{

}