* {
	box-sizing: border-box;
}
html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans SC', sans-serif;
	min-height: 100%;
	min-width: fit-content;
}

h1, h2, p, code, pre{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

h2{
	background-color: black;
    color: white;
	border-bottom: 5px solid #36383F;
	padding: 5px;
}

header{
	display: block;
	background-color: black;
	height: 60px;
	color: white;
	border-bottom: 5px solid #36383F;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.left-nav{
	display: inline-block;
	border-right: 3px solid darkgray;
	background-color: black;
	color: white;
	min-height: 100vh;
	height: 100vh;
	position: fixed;
	width: 250px;
	top: 0;
	left: 0;
}

.left-nav > .nav-header {
	padding: 10px;padding-left: 25px;
}

.main-area {
	display: inline-block;
	margin-left: 250px;
	width: -webkit-fill-available;
}

.main-area > section {
	margin-bottom: 30px;
	color: #4d4e53;
}

.nav-list {
	list-style-type: none;
	padding: 0px;	
}

.nav-list > li {
	border-bottom: 1px solid #36383F;
	padding: 5px;
	padding-left: 30px;
	color: #4d4e53;
}

.nav-list > li > a {
	text-decoration: none;
	color: white;
}

.section-list{
	font-size: 14px;
}

.main-section{
    background-color: white;
}

@media screen and (max-width: 441px){
    .left-nav{
    	display: block;
    	position: relative;
    	width: unset;
    	height: auto;
    	min-height: unset;
    }
    .main-area{
    	display: block;
    	margin: 0px;
    	width: fit-content;
    }
}