body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 0px;
}


.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 100px 100px auto;
	/*box-shadow: 0px 2px 20px 1px black;*/
	/*height: 80vh;*/
    position:absolute;
    top: 80px;
    left:10%;
    right:10%;
    bottom:0px;
    overflow-y:scroll; 
    padding: 5px;
}
#header {
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
	z-index: 1000;
    height:80px;
	background: rgba(60,64,67,1);
	display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.timer_selection_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
	border-bottom: 1px solid gray;
	height: 50px;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    z-index: 1000;
    padding: 20px;
}

.timer_selection_row > div > select {
	width: 100%;
	height: 30px;
	font-size: 16px;
}

.timer_selection_row > div > label {
	color: gray;
	font-size: .75em;
}

.button_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	border-bottom: 1px solid gray;
	height: 50px;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    z-index: 1000;	
    padding: 20px;
}

.start_but, .stop_but, .reset_but {
	display: flex;
	justify-content: center;
}


input[type='image'] {
	width: 50px;
	height: 50px;
}

input[type='image']:active {
	width: 45px;
	height: 45px;
}

.time_row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 5px;
	height: 50px;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    z-index: 1000;	
    padding: 20px;
}

#counter {
	display: flex;
	align-items: center;
    font-size: 32px;
	font-weight: bold;
}

#green_dot {
	position: relative;
}

.green_dot {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 200px;
	background-color: green;
	box-shadow: 0px 2px 20px 1px green;
	transition: background-color 2s ease-out, box-shadow 2s ease-out;
}

.overlay {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: rgba(0, 0, 0, 1);
  transition: background 2s;
}

#amber_dot {
	position: relative;
}

.amber_dot {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 200px;
	background-color: yellow;
	box-shadow: 0px 2px 20px 1px yellow;
	transition: background-color 2s ease-out, box-shadow 2s ease-out;
}

#red_dot {
	position: relative;
}

.red_dot {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 200px;
	background-color: red;
	box-shadow: 0px 2px 20px 1px red;
	transition: background-color 2s ease-out, box-shadow 2s ease-out;
}

.report_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fill, 25px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-top: 1px solid gray;
    padding: 5px;
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    z-index: 1000;  
    padding: 20px;  
}

#time-list > .speaker_name_header {
    background-color: blue;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-list > .speaker_time_header {
    background-color: lightblue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-list > .speaker-name {
    padding: 5px;
    border-right: 1px solid gray;
    background-color: green;
    color: white;
}

#time-list > .speaker-time {
    padding: 5px;
    background-color: lightgreen;
}

#install_but_row{
	padding: 20px;
	display: flex;
	align-items: flex-end;
}